[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
	gpgsign = false
[rerere]
	enabled = true
	autoupdate = true
[core]
	excludesfile = C:/Users/DELLI5RTX/.gitignore
	fsmonitor = true
	untrackedCache = true
	sshCommand = \"C:\\\\Program Files\\\\Git\\\\usr\\\\bin\\\\ssh.exe\"
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[user]
	name = francojeferson
	email = jefersonfranco@pm.me
[alias]
	difftofile = !git diff --cached > output.diff && echo \"Diff saved to output.diff\"
